body{
    background-image: url(https://i.ytimg.com/vi/ffQ1Ndk--rw/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGDAgEyh_MA8=&rs=AOn4CLBWMd3W_HoQjP_uCW5_N_I4L0jpJw);
    border-image-repeat: none;
    background-size: 100%;
}